.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-0));
  }
}

.logIcon {
  margin-right: var(--flex-gap);
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) px var(--mantine-spacing-md) px;
  border-radius: var(--mantine-radius-md);

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }

  &:active {
    background-color: var(--mantine-color-gray-6);
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: -var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) px calc(var(--mantine-spacing-md) * 2px);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-1));
}