.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.title {
  vertical-align: middle;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}

.subtitle {
  margin-left: var(--flex-gap);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
}
