.container {
  /* border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7)); */
  /* min-height: rem(900px);
  */
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  padding: var(--padding-card);
  /* padding-top: 0; */

  /* width: rem(600px); */
  /* padding-top: rem(80px); */
  margin-block: auto;
  box-shadow: var(--mantine-shadow-lg);
  /* background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)); */
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}
