.feedCard {
  padding: var(--padding-card);
  min-height: 200;
  border-radius: var(--radius-card);
  display: flex;
  flex-direction: column;
  gap: var(--feed-card-spacing);
}

.description {
  margin-bottom: var(--feed-card-spacing);
}

.heading {
  margin-bottom: var(--spacing-md);
}

.feedContent {
  /* padding: 16; */
  /* padding-inline: 24; */
}