.pinContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: minmax(50px, auto);
  justify-content: start;
  gap: var(--flex-gap);
}
.QueryFilterToApi {
  gridcolumn: 1 / -1;
}
