.pinContainer {
  display: grid;
  gridtemplatecolumns: repeat(auto-fill, 300px);
  gridautorows: minmax(50px, auto);
  justify-content: start;
  gap: 24;
}
.QueryFilterToApi {
  gridcolumn: 1 / -1;
}
