.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border-radius: var(--radius-card);
  border: 1px solid var(--mantine-color-default-border);
}
.invite-button {
  margin-left: auto;
}
