.modal {
  /* overflow: 'scroll'; */
  z-index: 1000;
  /* width: 800px; */
}
.container {
  container-type: inline-size;
  /* width: 800px; */

  /* width: 200px; */
}

.modalContent {
  z-index: 10;
  padding-inline: 48;
}
.form {
  margin-top: 50;
  height: '100vh';
}
