.pagecontent {
  z-index: 10px;
  padding-top: 50px;
  @media (min-width: $mantine-breakpoint-md) {
    padding-left: 300px;
  }
}
.bg {
  min-height: 100vh;
  background-color: light-dark(rgba(240, 240, 240, 0.85), rgba(30, 30, 30, 0.7));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contentWrapper {
  padding-left: 300px;
  container-type: inline-size;
  @media (max-width: $mantine-breakpoint-md) {
    padding-left: 0;
    &[data-is-pen="true"] {
      /* padding-left: 300px; */
    }
  }
}
