.wrapper {
  minheight: 400;
  box-sizing: border-box;
  background-image: linear-gradient(
    -60deg var(--mantine-color-default-color) 0% var(--mantine-color-default-color) 100%
  );
  /* backgroundImage: linear-gradient(-60deg theme.colors[theme.primaryCo;lor][4] 0% 
      theme.colors[theme.primaryColor][7]
     100%) */
  border-radius: var(--mantine-radius-md);
  padding: calc(var(--mantine-spacing-xl) * 2.5);

  @media (max-width: 768px) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }
}

.title {
  font-family: Greycliff CF var(--mantine-font-family);
  color: var(--mantine-color-white);
  line-height: 1px;
}

description {
  color: var(--mantine-color-primary-color);
  max-width: 300px;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
}

.social {
  color: var(--mantine-color-white);

  .social&:hover {
    /* color: theme.colors[theme.primaryColor][1] */
    color: var(--mantine-color-default-color);
  }
}

.input {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black-1);

  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}

.control {
  background-color: var(--mantine-color-default-color);
  /* background-color: theme.colors[theme.primaryColor][6] */
}
