.orgSpaceSelect {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.invBox {
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 30;
  background-color: var(--bg-color-dark);
  opacity: 0;
  /* Add transition */
  transition: opacity 0.3s ease;
}

.invBox.fadeIn {
  display: flex;
  position: fixed;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .invBox {
    /* display: none; */
    z-index: 0;
  }
}
