.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: var(--flex-gap);
  .column-1 {
    grid-column: span 1;
  }
  .column-2 {
    grid-column: span 2;
  }

  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: 1fr;
    .column-1,
    .column-2 {
      grid-column: span 1;
    }
  }
}
