@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
}

:root {
  --break-point-xs: 576px;
  --break-point-sm: 768px;
  --break-point-md: 992px;
  --break-point-lg: 1200px;
  --break-point-xl: 1408px;
  --padding-x: 16px;
  --flex-gap: 16px;
  --text-table-mobile: 12px;
  --table-cell-width-sm: 60px;
  --table-min-width: 800px;
  --table-min-width-sm: 300px;
  --bg-color-dark: rgba(0, 0, 0, 0.85);
  --bg-color-light: rgba(255, 255, 255, 0.85);
  --padding-x-list: 16px;
  --padding-y-list: 24px;
  --heading-font-size: 40px;
  --feed-card-spacing: 16px;
  --radius-card: 12px;
  --opacity-card: 0.85;
  /* --font-size-article: 24px; */
  :root.light {
    --bg-color: rgba(255, 255, 255, 0.85);
    --text-color: #123;
  }
  :root.dark {
    --bg-color: rgba(0, 0, 0, 0.85);
    --text-color: #45adfe;
  }
}

@media (max-width: $mantine-breakpoint-sm) {
  :root {
    --heading-font-size: 24px;

    /* --flex-gap: 8px;
    --text-table-mobile: 10px;
    --table-cell-width-sm: 40px;
    --table-min-width: 300px;
    --table-min-width-sm: 200px;
    --padding-x-list: 8px;
    --padding-y-list: 16px;
    --heading-font-size: 20px; */
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}
