@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --break-point-xs: 576px;
  --break-point-sm: 768px;
  --break-point-md: 992px;
  --break-point-lg: 1200px;
  --break-point-xl: 1408px;
  --flex-gap: 16px;
  --flex-gap-xs: calc(var(--flex-gap) / 2);
  --flex-gap-sm: var(--flex-gap);
  --flex-gap-md: calc(var(--flex-gap) * 1.5);
  --flex-gap-lg: calc(var(--flex-gap) * 2);
  --flex-gap-xl: calc(var(--flex-gap) * 3.5);
  --text-table-mobile: 12px;
  --table-cell-width-sm: 60px;
  --table-min-width: 800px;
  --table-min-width-sm: 300px;
  --bg-color-dark: rgba(0, 0, 0, 0.85);
  --bg-color-light: rgba(255, 255, 255, 0.85);
  --heading-font-size: 40px;
  --feed-card-spacing: 16px;
  --radius-card: 12px;
  --opacity-card: 0.85;
  --font-size-title: 32px;
  --font-size-subtitle: 26px;
  --liner-gradient-light: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 1));
  --liner-gradient-dark: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --font-weight-title: 900;

  --padding-x: 16px;
  --padding-x-list: var(--padding-x);
  --padding-y-list: 24px;
  --padding-y-list-sm: 12px;
  --padding-y-list-xs: 6px;
  --padding-card-x: 40px;
  --padding-card-y: 32px;
  --padding-card: var(--padding-card-y) var(--padding-card-x);
  --padding-card-xs: var(--padding-x) 8px;

  --spacing-md: 24px;

  --font-size-card-title: 24px;

  --max-width: var(--break-point-lg);
  --max-width-feed-card: var(--break-point-sm);

  /* --font-size-article: 24px; */
  :root.light {
    --bg-color: rgba(255, 255, 255, 0.85);
    --fg-color: rgba(255, 255, 255, 0.85);
    --text-color: #123;
  }

  :root.dark {
    --bg-color: rgba(0, 0, 0, 0.85);
    --fg-color: rgba(0, 0, 0, 0.85);
    --text-color: #45adfe;
  }
}

@media (max-width: $mantine-breakpoint-sm) {
  :root {
    --heading-font-size: 24px;

    /* --flex-gap: 8px;
    --text-table-mobile: 10px;
    --table-cell-width-sm: 40px;
    --table-min-width: 300px;
    --table-min-width-sm: 200px;
    --padding-x-list: 8px;
    --padding-y-list: 16px;
    --heading-font-size: 20px; */
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}
.title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}

.columnFlex {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
}

.modalBody {
  padding: var(--padding-card);
  padding-top: 0;
  @media (max-width: $mantine-breakpoint-sm) {
    padding-inline: calc(- var(--pading-x));
  }
}
.modalTitle {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-title);
  text-align: center;
}
.modalHeader {
  padding-inline: var(--padding-card-x);
  padding-top: var(--padding-card-y);
  padding-bottom: calc(var(--padding-card-y) / 1.25);
}

.ulEl {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: var(--flex-gap);
}

.ulEl > li {
  &:hover {
    transform: scale(1.2);
  }
}
