@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --break-point-xs: 576px;
  --break-point-sm: 768px;
  --break-point-md: 992px;
  --break-point-lg: 1200px;
  --break-point-xl: 1408px;
  --flex-gap: 16px;
  --flex-gap-xs: calc(var(--flex-gap) / 2);
  --flex-gap-sm: var(--flex-gap);
  --flex-gap-md: calc(var(--flex-gap) * 1.5);
  --flex-gap-lg: calc(var(--flex-gap) * 2);
  --flex-gap-xl: calc(var(--flex-gap) * 3.5);
  --text-table-mobile: 12px;
  --table-cell-width-sm: 60px;
  --table-min-width: 800px;
  --table-min-width-sm: 300px;
  --bg-color-dark: rgba(0, 0, 0, 0.85);
  --bg-color-light: rgba(255, 255, 255, 0.85);
  --heading-font-size: 40px;
  --feed-card-spacing: 16px;
  --radius-card: 12px;
  --opacity-card: 0.85;
  --font-size-title: 32px;
  --font-size-subtitle: 26px;
  --font-size-section-title: 28px;
  --font-size-section-subtitle: 20px;
  --liner-gradient-light: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 1));
  --liner-gradient-dark: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --font-weight-title: 900;
  --font-weight-section-title: 700;

  --padding-main: 40px 0;

  --padding-x: 16px;
  --padding-x-list: var(--padding-x);
  --padding-y-list: 24px;
  --padding-y-list-md: 40px;
  --padding-y-list-sm: 12px;
  --padding-y-list-xs: 6px;
  --padding-card-x: 40px;
  --padding-card-y: 32px;
  --padding-card: var(--padding-card-y) var(--padding-card-x);
  --padding-card-xs: var(--padding-x) 8px;
  --padding-card-sm: var(--padding-x) 8px;

  --max-width: var(--break-point-lg);

  --spacing-md: 24px;

  --font-size-card-title: 24px;

  --max-width: var(--break-point-lg);
  --max-width-feed-card: var(--break-point-sm);

  --list-height: 40px;

  --text-color-link: #45adfe;
  /* TODO: delete and use something works --font-size-article: 24px; */
  /* :root.light {
    display: none;
    --bg-color: rgba(255, 255, 255, 0.85);
    --fg-color: rgba(255, 255, 255, 0.85);
    --text-color: #123;
    --text-color-link: #45adfe;
    &:has([data-loggedas="maintainer"]) {
      background-color: red;
    }
  }

  :root.dark {
    display: none;
    --bg-color: rgba(0, 0, 0, 0.85);
    --fg-color: rgba(0, 0, 0, 0.85);
    --text-color: #45adfe;
    --text-color-link: #45adfe;
    &:has([data-loggedas="maintainer"]) {
      background-color: red;
    }
  } */
}

@media (max-width: $mantine-breakpoint-sm) {
  :root {
    --heading-font-size: 24px;

    /* --flex-gap: 8px;
    --text-table-mobile: 10px;
    --table-cell-width-sm: 40px;
    --table-min-width: 300px;
    --table-min-width-sm: 200px;
    --padding-x-list: 8px;
    --padding-y-list: 16px;
    --heading-font-size: 20px; */
  }
}

/* body:has([data-loggedas="maintainer"]) {
  .nav-bar-vertical::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(23, 100, 100, 0.3);
  }
  .app-bar::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(23, 100, 100, 0.3);
  }
}
body:has([data-loggedas="property_manager"]) {
  .nav-bar-vertical::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(93, 80, 150, 0.3);
  }
  .app-bar::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(93, 80, 150, 0.3);
  }
} */

body:has([data-page-loading="true"]) {
  pointer-events: none;
  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
  }
  &::after {
    content: "";
    background-image: url("/images/loading.svg");
    height: 300px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: red;
    z-index: 1000;
    @media (max-width: $mantine-breakpoint-sm) {
      height: 150px;
      width: 150px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.columnFlex {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
}

/* .modalRoot {
}
.modalContent {
} */
.modalHeader {
  padding-inline: var(--padding-card-x);
  padding-top: var(--padding-card-y);
  padding-bottom: calc(var(--padding-card-y) / 1.25);
}
.modalTitle {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-title);
  text-align: center;
}

.modalBody {
  padding: var(--padding-card);
  padding-top: 0;
}
.listWrapper {
  padding: var(--padding-card);
  padding-top: 0;
  @media (max-width: $mantine-breakpoint-sm) {
    padding-inline: calc(- var(--pading-x));
  }
}
.modalList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: calc(var(--padding-x-list) * 4);
  padding-block: var(--padding-y-list);
  @media (max-width: $mantine-breakpoint-sm) {
    padding-inline: calc(- var(--pading-x-list));
    padding-block: var(--padding-y-list-sm);
  }
}

.modalListItem {
  font-size: var(--font-size-card-title);
  padding-block: var(--padding-y-list-sm);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  @media (max-width: $mantine-breakpoint-sm) {
    padding-block: var(--padding-y-list);
  }
  &.expand:hover {
    transform: scale(1.1);
  }
}

.modalList:has(.expand):has(:hover) .modalListItem:not(:hover) {
  transform: scale(0.9);
}

.inputRightIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--flex-gap-xs);
}

.invite-modal {
  padding-inline: 40px;
  padding-block: 36px;
}

/* AccessPermissionInput component */
.access-control-modal-content {
  display: grid;
  place-content: center;
  place-items: ceneter;
}
.access-control-modal-Add-new-section {
  display: grid;
  grid-template-columns: minmax(auto, 300px) 1fr;
  gap: var(--flex-gap-xl);
}
.access-control-modal-first-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
}
.access-control-modal-permission-switches {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-xl);
}
/* END AccessPermissionInput component END*/

.error-page-container {
  display: flex;
  padding: var(--padding-main);
  flex-direction: column;
  gap: var(--flex-gap);
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.error-page-description {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  align-items: center;
  p {
    text-align: center;
  }
}

.error-page-description > img {
  width: 400px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: var(--flex-gap);
  border-radius: var(--radius-card);
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.crud-modal-form-fields {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  grid-template-columns: 1fr 1fr;
  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}

.crud-drawer-form-fields {
  /* margin-top: 50px; */
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--flex-gap);
  container-type: inline-size;
}
.crud-drawer-form-fields:has(.crud-textarea) {
  /* margin-top: 50px; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  container-type: inline-size;
}

.crud-input {
  grid-column: span 2;
  place-self: end center;
  width: 100%;
  &[data-column="1"] {
    grid-column: span 1;
  }
  &[data-column="2"] {
    grid-column: span 2;
  }
  &[data-column="3"] {
    grid-column: span;
  }
  &[data-column="4"] {
    grid-column: span 4;
  }
  @container (max-width: $mantine-breakpoint-xs) {
    grid-column: span 4;
  }
}
.gallery-overlay-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
  flex-direction: row;
}
.gallery-overlay {
  display: flex;
  background: black;
  color: white;
  opacity: 0;
  border-radius: var(--radius-card);
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.crud-form-image-gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  gap: var(--flex-gap);
}

.detail-helper-text {
  color: var(--text-color-link);
}

.sm-d-none {
  display: block;
  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.login-tab {
  /* background-color: red; */
  @media (max-width: $mantine-breakpoint-xs) {
    padding-inline: 8px;
  }
}
.login-tab-list {
  /* background-color: yellow; */
  @media (max-width: $mantine-breakpoint-xs) {
    display: flex;
    justify-content: center;
  }
}
.login-tab-panel {
  /* background-color: green; */
  @media (max-width: $mantine-breakpoint-xs) {
    padding-inline: 0;
  }
}
.login-tab-root {
  /* background-color: purple; */
  /* display: flex; */
  /* flex-direction: column; */
}
.login-tab-label {
  /* background-color:q orange; */
  /* font-size: 10px; */
}
.login-tab-section {
  /* background-color: brown; */
}

.page-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}

.page-subtitle {
  font-size: var(--font-size-subtitle);
}

.section-title {
  font-size: var(--font-size-section-title);
}
.section-subtitle {
  font-size: var(--font-size-section-subtitle);
}

.image-cover {
  object-fit: contain;
  border-radius: var(--radius-card);
}

.profile-cover-static {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--radius-card);
  position: relative;
  min-height: 200px;

  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.flex-box-column {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
}
.flex-box-column-sm {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-sm);
}

.flex-box-row {
  display: flex;
  flex-direction: row;
  gap: var(--flex-gap);
}

.maintenance-single-page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .full {
    grid-column: span 2;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .contact {
    display: flex;
    flex-direction: row;
    gap: var(--flex-gap);
  }
  .page-header-info {
    display: flex;
    flex-direction: column;
  }
}

.building-info-container {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  gap: var(--flex-gap);
  .image {
    width: 100%;
    height: 100%;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
