.mainContainer {
  padding-inline: 40;
  padding-top: 30;
}
.headerWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
.title {
  margin-block: 5;
}
.button {
  min-width: 150;
  /* // margin-left: 40; */
}
.dataTableContainer {
  @media (min-width: $mantine-breakpoint-md) {
    padding-inline: 40;
  }
  @media (max-width: $mantine-breakpoint-md) {
    padding-inline: 20;
  }
}
.navList {
  /* // textDecoration: none; */
  /* ...theme.fn.focusStyles(); */
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: theme.fontSizes.sm;
  color: light-dark(var(--mantine-color-gray-7) ; var(--mantine-color-dark-1));
  padding: `var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  fontweight: 500;
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-4));
    color: light-dark(var(--mantine-color-black) ; var(--mantine-color-white));
  }
}
.justifyEnd {
  justify-content: flex-end;
}

.container {
  /* // width: 100%; */
  paddingblock: 32;
  margininline: 16;
  @media (max-width: $mantine-breakpoint-sm) {
    margininline: 0;
  }
}
.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* // background: white; */
  gap: 24;

  /* // Simplify media query writing with theme functions */
  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}
.cardMain {
  display: flex;
  flex-direction: column;
  gap: 36;
  width: 100%;
  @media (max-width: $mantine-breakpoint-md) {
    width: 60%;
    /* // background-color: theme.cdolors.yellow[6]; */
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
    /* // background-color: theme.cdolors.yellow[6]; */
  }
}
.coverTop {
  display: flex;
  flex-direction: column;
  gap: 36;
  width: 100%;
  @media (max-width: $mantine-breakpoint-md) {
    width: 60%;
    /* // background-color: theme.cdolors.yellow[6]; */
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
    /* // background-color: theme.cdolors.yellow[6]; */
  }
}
.sideBox {
  width: 30%;
  gap: 16;
  display: flex;
  flex-direction: column;
  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
    /* // background-color: theme.cdolors.yellow[6]; */
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
    /* // background-color: theme.cdolors.yellow[6]; */
    /* // flex-direction: row; */
  }
}
.feedCard {
  minheight: 200;
}
.feedContent {
  padding: 16;
  padding-inline: 24;
}
