.root {
  position: relative;
}

.input {
  height: rem(54);
  padding-top: rem(18);
}

.label {
  position: absolute;
  pointerevents: none;
  font-size: var(--mantine-font-size-xs);
  paddingleft: var(--mantine-spacing-sm);
  padding-top: calc(var(--mantine-spacing-sm) / 2);
  zindex: 1;
}
