.login-tab {
  /* background-color: red; */
  @media (max-width: $mantine-breakpoint-xs) {
    padding-inline: 8px;
  }
}
.login-tab-list {
  /* background-color: yellow; */
  @media (max-width: $mantine-breakpoint-xs) {
    display: flex;
    justify-content: center;
  }
}
.login-tab-panel {
  /* background-color: green; */
  @media (max-width: $mantine-breakpoint-xs) {
    padding-inline: 0;
  }
}
.login-tab-root {
  /* background-color: purple; */
  /* display: flex; */
  /* flex-direction: column; */
}
.login-tab-label {
  /* background-color:q orange; */
  /* font-size: 10px; */
}
.login-tab-section {
  /* background-color: brown; */
}

.default-tab {
  /* background-color: red; */
  @media (max-width: $mantine-breakpoint-xs) {
    padding-inline: 8px;
  }
}
.default-tab-list {
  /* background-color: yellow; */
  @media (max-width: $mantine-breakpoint-xs) {
    display: flex;
    justify-content: center;
  }
}
.default-tab-panel {
  /* background-color: green; */
  @media (max-width: $mantine-breakpoint-xs) {
    padding-inline: 0;
  }
}
.default-tab-root {
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-lg);
  /* flex-direction: column; */
}
.default-tab-label {
  /* background-color:q orange; */
  /* font-size: 10px; */
}
.default-tab-section {
  /* background-color: brown; */
}
