.link {
  text-decoration: none;
}
.card {
  background-color: var(--mantine-color-body);
  height: 150px;
  padding: 10px;
  grid-row-end: span 1;
  cursor: pointer;
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-0));
  }
}

.title {
  font-weight: 700;
  font-family: 'Greycliff CF', var(--mantine-font-family);
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
