.grid {
  display: grid;
  place-items: center;
  grid-template-columns: 50px 1fr;
}
.flexVertical {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.avatar {
  cursor: pointer;
}
.link {
  /* ...theme.fn.focusStyles(); */
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500px;
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-3));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
}
.linkIcon {
  /* ref: icon; */
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
  margin-right: var(--mantine-spacing-sm);
}
.profileText {
  display: flex;
  padding-left: var(--padding-x);
  text-overflow: ellipsis;
  /* overflow: hidden; */
  word-wrap: break-word;
}
/* .linkActive {
      &; &:.hover {
        background-color: theme.fn.variant({
          variant: light;
          color: theme.primaryColor;
        }).background;
        color: theme.fn.variant({ variant: light; color: theme.primaryColor }).color;
        [& .icon}] {
          color: theme.fn.variant({
            variant: light;
            color: theme.primaryColor;
          }).color;
        };
      }; */
