.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerInfo {
  display: flex;
  flex-direction: column;

  .name {
    text-align: left;
    font-size: 15px;
    font-weight: 700;
  }

  .timeAgo {
    margin-left: var(--flex-gap);
  }

  @container (min-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    justify-content: start;
  }
}
