.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--feed-card);
  @container (max-width: $mantine-breakpoint-sm ) {
    justify-content: space-between;
  }
  @container (min-width: $mantine-breakpoint-sm) {
    justify-content: start;
  }
}
