.formContainer {
  justify-content: start;
  margin-block: var(--mantine-spacing-md);
}
.buttonContainer {
  width: 100%;
}
.button {
  flex: 1;
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
    flex: unset;
  }
}
