/* .center {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */


.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var --mantine-spacing-md);
  position: fixed;
  paddingleft: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  height: 56px;
  display: flex;
  justifycontent: 'space-between';
  z-index: 50;
  align-items: center;
}

.center {
  /* grid-column: 2;  */
  display: flex;
  flex: 1;
  justify-content: center;
}

.tabList {
  display: flex;
  align-items: center;
}

.mobileNavContainer {
  display: flex;
  flex-direction: column;
}
.deskTopExNav {
  justify-content: flex-end;
}
.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  z-index: 50;
  /* // justify-content: 'flex-start'; */
  align-items: center;
}

.burger {
  display: none;
  z-index: 100;
  @media (max-width: $mantine-breakpoint-md) {
    display: block;
  }
}
.links {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.header {
  width: 100%;
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}
