.gridWrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  gap: 2px;
  margin-inline: auto;
  padding: 0;
  width: 420px;
  height: 100%;
  overflow: hidden;
  /* background-color: red; */
}

.column {
  padding: 0;
  display: flex;
  justify-content: center;
}
.imagesGrid {
}

.image {
  object-fit: cover;
  /* margin: 4px; */
}
