.container {
  display: grid;
  gap: var(--flex-gap);
  grid-template-rows: auto auto;
  place-items: start start;
  width: 100%;
  --pl: 0;
}
.fieldset {
  border: none;
}

.inputs {
  display: grid;
  grid-auto-flow: column;
  column-gap: calc(var(--flex-gap) * 1.5);
  row-gap: calc(var(--flex-gap) * 1.5);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-left: var(--pl);
}

.pl {
  padding-left: var(--pl);
}
