.container {
  display: grid;
  gap: var(--flex-gap);
  grid-template-rows: auto auto;
  place-items: start start;
  width: 100%;
  --pl: 56px;
}
.fieldset {
  display: grid;
  gap: (var(--flex-gap));
  border: none;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  row-gap: calc(var(--flex-gap) * 1.5);
  padding-left: var(--pl);
}

.pl {
  padding-left: var(--pl);
}
