.chipsGrid {
  display: grid;
  gap: var(--flex-gap);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  place-items: center start;
}

.tabList {
  display: flex;
  flex-direction: row;
  /* grid-row: 2 / 3; */
}
.tab {
  /* display: flex;
  width: 100%; */
  /* justify-content: start; */
  font-size: var(--mantine-font-size-xs);
  /* font-size: var(--mantine-font-size-xs); */
}

.tabPanels {
  grid-row: 2/3;
  grid-column: 2/3;
}

.buttons {
  display: flex;
  gap: var(--flex-gap);
  grid-row: 3/4;
  grid-column: 2/3;
  place-self: end;
}
