/* @media (max-width: $mantine-breakpoint-sm) {
  .textHidden {
    display: none;
  }
} */

.text {
  font-size: var(--mantine-font-size-sm);
  /* font-size: var(--mantine-font-size-xs); */
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-xs);
    &[data-hidden] {
      display: none;
    }
  }
}

.badge {
  @media (max-width: $mantine-breakpoint-sm) {
    &:has([data-hidden]) {
      padding: 1px;
    }
  }
  .text {
    font-size: var(--mantine-font-size-xs);
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: 8px;
    }
  }
}

.icon {
  width: 16px;
}
